.selection {
   display: flex;
   flex-direction: column;
   // justify-content: flex-end;
   justify-content: space-between;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

.question {
   &__text {
      color: $black-100;
      height: calc(100% - 280px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;

      font-size: 18px;
      line-height: 21px;
      text-align: center;
      margin: 0 16px;
   }

   &__options {
      &_list {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin-bottom: 25px;
         // 4 buttons with height = 56px and margin-bottom = 8px
         height: calc(56px * 4 + 8px * 4);
      }

      &_item {
         fill: $white-100;
         stroke: $black-40;
         cursor: pointer;
      }

      &_block:hover .question__options_item {
         fill: $orange-5;
         stroke: $orange-100;
      }

      &_text {
         position: absolute;
         left: 17px;
         top: 50%;
         transform: translateY(-50%);
         cursor: pointer;
      }

      &_key {
         color: $orange-100;
         font-weight: 600;
         text-transform: uppercase;
         margin-left: 24px;
         margin-right: 8px;
      }

      &_value {
         color: $black-100;
         font-weight: normal;
      }
   }
}

@media (min-width: $min-768) {
   .selection {
      justify-content: space-around;
   }

   .question {
      &__text {
         width: 650px;
         height: auto;
         text-align: left;
      }

      &__options {
         &_list {
            width: 650px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            height: auto;
         }

         &_key {
            margin-left: 32px;
         }
      }
   }
}

@media (min-width: $min-1440) {
   .question {
      &__text {
         font-size: 32px;
         line-height: 37px;
      }

      &__options {
         &_list {
            width: 845px;
         }
      }
   }
}

// for smartphones with small screens and landscape orientation
@media (max-width: $min-768) and (orientation: landscape) {
   .question {
      &__text {
         font-size: 16px;
         line-height: 20px;
         margin: 0 40px;
      }

      &__options {
         &_list {
            margin-bottom: 3px;
            height: calc(56px * 4 + 3px * 4);
         }

         &_item {
            margin-bottom: 3px;
         }
      }
   }
}
