html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

body {
   font-family: $inter;
   background: $black-5;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

ul,
ol {
   list-style: none;
   margin: 0;
   padding: 0;
}

// buttons

.btn {
   @extend %btn;
   width: 288px;
   height: 48px;
   border-radius: 8px;
}

.btn:hover {
   @extend %btn-hover;
}

.btn:active {
   @extend %btn-pressed;
}

.btn-text {
   @extend %btn-text;
   font-size: 14px;
   line-height: 16px;
}

@media (min-width: $min-1024) {
   .btn {
      width: 296px;
      height: 64px;
      border-radius: 12px;
   }

   .btn-text {
      font-size: 20px;
      line-height: 23px;
   }
}

// options

.inactive,
.correct,
.wrong {
   @extend %opt-btn;
}

.inactive svg,
.correct svg,
.wrong svg {
   width: 320px;
   height: 56px;
}

.inactive svg {
   fill: $white-100;
   stroke: $black-40;
}

.correct svg {
   fill: $green-5;
   stroke: $green-100;
}

.wrong svg {
   fill: $red-5;
   stroke: $red-100;
}

@media (min-width: $min-1024) {
   .inactive:hover svg {
      fill: $orange-5;
      stroke: $orange-100;
   }
}

@media (min-width: $min-1440) {
   .inactive svg,
   .correct svg,
   .wrong svg {
      width: 405px;
      height: 72px;
   }
}

// score table

.table svg {
   @extend %win-item;
}
