// button

%btn {
   background: $orange-100;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   border: none;
   outline: none;
   padding: 0;
   margin: 0;
   cursor: pointer;
}

%btn-hover {
   background: $orange-80;
}

%btn-pressed {
   background: $orange-120;
}

%btn-text {
   color: $white-100;
   font-style: normal;
   font-weight: 600;
}

// for smartphones with small screens and landscape orientation
@media (max-width: $min-768) and (orientation: landscape) {
   %btn {
      margin-bottom: 40px;
   }
}

// main page wrapper

%wrap {
   min-width: 100vw;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

// option buttons

%opt-btn {
   position: relative;
   background: none;
   border: none;
   outline: none;
   margin: 0;
   padding: 0;
   cursor: pointer;

   width: 320px;
   height: 56px;

   font-size: 14px;
   line-height: 16px;
   margin-bottom: 8px;
}

@media (min-width: $min-1440) {
   %opt-btn {
      width: 405px;
      height: 72px;

      font-size: 20px;
      line-height: 23px;
      margin-bottom: 32px;
   }
}

// for smartphones with small screens and landscape orientation
@media (max-width: $min-768) and (orientation: landscape) {
   %opt-btn {
      margin-bottom: 3px;
   }
}

// score item

%win-item {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
